.feedback-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0 12rem;
  margin-top: 16rem;

  @media screen and (max-width: 720px) {
    padding: 0 1rem;
    margin-top: 4rem;
    height: 75vh;
  }

  @media screen and (min-width: 721px) and (max-width: 1024px) {
    padding: 0 4rem;
    margin-top: 16rem;
    height: 75vh;
  }

  .swiper {

    .swiper-wrapper {

      .swiper-slide {
        @media screen and (max-width: 1024px) {
          width: 100%;
        }
      }
    }
  }

  .feedback-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }

  .card-container {
    width: 30%;
    height: 342px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 721px) and (max-width: 1024px) {
      height: 546px;
      gap: 1rem;
    }

    .feedback-user-image {
      img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 50%;

        @media screen and (min-width: 721px) and (max-width: 1024px) {
          width: 280px;
          height: 280px;
        }
      }
    }

    .feedback-user-comment {
      text-align: center;
      width: 50%;

      @media screen and (max-width: 720px) {
        width: 100%;
      }

      @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: 75%;
        font-size: 1.4rem;
      }
    }

    .feedback-user-rate {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      color: #ffd700;

      @media screen and (min-width: 721px) and (max-width: 1024px) {
        font-size: 1.4rem;
      }
    }
  }
}