.feedback-wrapper {
  width: 100vw;
  height: 100vh;
  padding: 0 12rem;
  margin-top: 16rem;

  .feedback-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }

  .card-container {
    width: 30%;
    height: 342px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .feedback-user-image {
      img {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .feedback-user-comment {
      text-align: center;
      width: 50%;
    }
  }
}