.helper-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    padding: 0 8rem;
    margin-top: 16rem;
    width: 100%;

    @media screen and (max-width: 720px) {
        flex-direction: column;
        padding: 0 1rem;
        margin-top: 4rem;
        gap: 2rem;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
        padding: 0 1rem;
        margin-top: 8rem;
        gap: 2rem;
        align-items: start;
    }

    .helper-section-1 {
        max-width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 720px) {
            max-width: 100%;
        }
        
        &-title {
            color: #2B2F38;
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 4rem;

            @media screen and (max-width: 720px) {
                font-size: 1.4rem;
                margin-bottom: 1rem;
            }

            @media screen and (min-width: 721px) and (max-width: 1024px) {
                font-size: 1.6rem;
                margin-bottom: 2rem;
            }
        }

        &-phone {
            display: inline-flex;
            justify-content: start;
            align-items: center;
            text-transform: uppercase;
            color: #FC5F5F;
            font-weight: 600;
            letter-spacing: 2px;
            gap: 1rem;
            cursor: pointer;
            transition: all 0.2s ease-in-out;

            @media screen and (max-width: 720px) {
                font-size: 0.75rem;
            }

            @media screen and (min-width: 721px) and (max-width: 1024px) {
                font-size: 1rem;
            }

            &:hover {
                color: #2B2F38;
            }
        }
    }

    .helper-section-2 {
        max-width: 60%;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        @media screen and (max-width: 720px) {
            max-width: 100%;
        }
    }
}