.navbar-container {
    width: 100vw;
    max-height: 120px;
    display: flex;
    padding: 12px 120px;
    position: fixed;

    .brand-container {
        height: 100%;
        display: flex;
        align-items: center;
        flex: 1;

        img {
            width: 48px;
            height: 48px;
            cursor: pointer;
        }

        span {
            font-size: 1.2rem;
            font-weight: 600;
            margin-left: 12px;
            position: relative;
            cursor: pointer;

            &::before {
                content: "";
                position: absolute;
                width: 48px;
                height: 48px;
                top: -25%;
                left: -25%;
            }
        }
    }

    .menu-container {
        display: flex;
        margin-right: 4rem;
        align-self: center;
        gap: 2rem;

        span {
            cursor: pointer;
            transition: color 0.2s ease-in-out;
            -webkit-transition: color 0.2s ease-in-out;
        }

        .active {
            color: #FA5F5F;
        }

        & *:hover {
            color: #FA5F5F;
        }
    }

    .user-container {
        display: flex;
        align-items: center;
        gap: 2rem;

        .user-pricing {
            color: #FA5F5F;
            font-size: 1.1rem;
            font-weight: 700;
        }

        .user-cart {
            position: relative;

            &-logo {
                color: #FA5F5F;
            }

            &-quantity {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 18px;
                height: 18px;
                position: absolute;
                top: -25%;
                right: -1rem;
                background-color: #FA5F5F;
                border-radius: 50%;
                font-weight: 700;
                font-size: 0.75rem;
            }
        }
    }
}