.navbar {
    position: fixed;
    width: 100vw;
    background-color: transparent !important;

    .container {
        position: relative;
        display: flex;
        justify-content: center;

        .navbar-brand {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 0.5rem;
            flex: 1;

            img {
                width: 2.5rem;
            }

            span {
                font-size: 1.25rem;
                font-weight: 600;
                color: #2B2F38;
            }
        }

        .user-container {
            display: flex;
            align-items: center;
            gap: 0.75rem;
            float: right;

            .user-pricing {
                color: #FA5F5F;
                font-size: 1.1rem;
                font-weight: 700;

                @media screen and (max-width: 480px) {
                    font-size: 1rem;
                }
            }

            .user-cart {
                position: relative;
                margin-right: 1rem;

                &-logo {
                    color: #FA5F5F;
                }

                &-quantity {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 18px;
                    height: 18px;
                    position: absolute;
                    top: -25%;
                    right: -1rem;
                    background-color: #FA5F5F;
                    border-radius: 50%;
                    font-weight: 700;
                    font-size: 0.75rem;
                }
            }
        }

        .navbar-collapse {
            @media screen and (min-width: 721px) {
                flex-grow: 0 !important;
            }

            .navbar-nav {
                .nav-link + .nav-link {

                    @media screen and (max-width: 991px) {
                        border-top: 1px solid #2B2F38;
                    }
                }

                .active {
                    color: #FA5F5F;
                }
            }
        }
    }
}