.footer-wrapper {
  padding: 4rem 16rem;
  border-top: 1px solid #ccc;
  
  @media screen and (max-width: 720px) {
    padding: 4rem 2rem;
  }

  @media screen and (min-width: 721px) and (max-width: 1024px) {
    padding: 4rem 1rem;
  }

  .footer-content-container {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4rem;

    @media screen and (max-width: 720px) {
      flex-direction: column;
      align-items: start;
      gap: 2rem;
    }

    @media screen and (min-width: 721px) and (max-width: 1024px) {
      flex-wrap: wrap;
      gap: 2rem;
    }

    .brand-info {
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 1rem;
      width: 20%;

      @media screen and (max-width: 720px) {
        align-items: start;
        width: 100%;
      }

      @media screen and (min-width: 721px) and (max-width: 1024px) {
        align-items: start;
        width: calc(50% - 2rem);
      }

      img {
        width: 8rem;
        align-self: center;

        @media screen and (max-width: 720px) {
          width: 6rem;
          align-self: start;
        }

        @media screen and (min-width: 721px) and (max-width: 1024px) {
          align-self: start;
        }
      }

      span {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        color: #5D6167;
        cursor: default;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        i {
          font-size: 1.6rem;
          cursor: pointer;
          color: #5D6167;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: #75C32C;
          }
        }
      }
    }

    .quick-link,
    .important-link {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: start;

      @media screen and (max-width: 720px) {
        width: 100%;
      }

      @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: calc(50% - 2rem);
      }

      span {
        font-size: 1.4rem;
        cursor: default;

        @media screen and (max-width: 1024px) {
          font-weight: 500;
        }
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          color: #5D6167;
          cursor: pointer;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: #75C32C;
          }
        }
      }
    }

    .other {
      width: 20%;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 720px) {
        width: 100%;
      }

      @media screen and (min-width: 721px) and (max-width: 1024px) {
        width: calc(50% - 2rem);
      }

      .other-title {
        font-size: 1.4rem;

        @media screen and (max-width: 720px) {
          font-size: 1.2rem;
          font-weight: 500;
        }

        @media screen and (min-width: 721px) and (max-width: 1024px) {
          font-weight: 500;
        }
      }
    }
  }
}