.footer-wrapper {
  padding: 4rem 16rem;

  .footer-content-container {
    display: flex;
    width: 100%;
    justify-content: center;

    .brand-info {
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 1rem;
      width: 20%;

      img {
        width: 4rem;
        align-self: center;
      }

      span {
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        color: #5D6167;
        cursor: default;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        i {
          font-size: 1.6rem;
          cursor: pointer;
          color: #5D6167;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: #75C32C;
          }
        }
      }
    }

    .quick-link,
    .important-link {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: start;

      span {
        font-size: 1.4rem;
        cursor: default;
      }

      ul {
        list-style: none;
        padding: 0;

        li {
          color: #5D6167;
          cursor: pointer;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: #75C32C;
          }
        }
      }
    }

    .other {
      width: 20%;
      display: flex;
      flex-direction: column;
    }
  }
}