@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5; /* Adjust line-height for vertical centering */
}

::selection {
    background-color: #FA5F5F; /* Green background */
    color: black; /* White text */
    text-align: center;
    line-height: 1.5;
}

html, body {
    overflow-x: hidden; /* Prevent horizontal scroll */
    width: 100%; /* Ensure body width is 100% */
    margin: 0;
    padding: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Thinner scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Darker color for the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #f4f4f4; /* Border to give a subtle contrast */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker when hovered */
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Light color for the track */
    border-radius: 10px;
}

.header-container {
    width: 100vw;
    max-height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0 0 4rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16rem 8rem;
}

@media screen and (max-width: 720px) {
    .header-container {
        border-radius: 0 0 2rem 2rem;
        padding: 2rem 4rem 2rem 2rem;
        height: 65vh;
    }
}

@media screen and (min-width: 721px) and (max-width: 1024px) {
    .header-container {
        padding: 2rem 4rem 2rem 2rem;
        height: 50vh;
    }
}

/*Loading css*/
/* From Uiverse.io by alexruix */
.loader {
    width: 80px;
    height: 50px;
    position: relative;
}

.loader-text {
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    color: #C8B6FF;
    animation: text_713 3.5s ease both infinite;
    font-size: .8rem;
    letter-spacing: 1px;
}

.load {
    background-color: #9A79FF;
    border-radius: 50px;
    display: block;
    height: 16px;
    width: 16px;
    bottom: 0;
    position: absolute;
    transform: translateX(64px);
    animation: loading_713 3.5s ease both infinite;
}

.load::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #D1C2FF;
    border-radius: inherit;
    animation: loading2_713 3.5s ease both infinite;
}

/* From Uiverse.io by LeonKohli */
.radio {
    display: flex;
    gap: 0.75rem;
    justify-content: start;
    flex-direction: row-reverse;
}

.radio > input {
    position: absolute;
    appearance: none;
}

.radio > label {
    cursor: pointer;
    font-size: 1.2rem;
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
}

.radio > label > svg {
    fill: #666;
    transition: fill 0.3s ease;
}

.radio > label::before {
    top: -15px;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.radio > label::after {
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%) scale(0);
}

.radio > label:hover::before,
.radio > label:hover::after {
    opacity: 1;
    transform: translateX(-50%) scale(1.5);
}

.radio > label:hover {
    transform: scale(1.2);
    animation: pulse 0.6s infinite alternate;
}

.radio > label:hover > svg,
.radio > label:hover ~ label > svg {
    fill: #ff9e0b;
    filter: drop-shadow(0 0 15px rgba(255, 158, 11, 0.9));
    animation: shimmer 1s ease infinite alternate;
}

.radio > input:checked + label > svg,
.radio > input:checked + label ~ label > svg {
    fill: #ff9e0b;
    filter: drop-shadow(0 0 15px rgba(255, 158, 11, 0.9));
    animation: pulse 0.8s infinite alternate;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

@keyframes particle-explosion {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    50% {
        opacity: 1;
        transform: scale(1.2);
    }
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes shimmer {
    0% {
        filter: drop-shadow(0 0 10px rgba(255, 158, 11, 0.5));
    }
    100% {
        filter: drop-shadow(0 0 20px rgba(255, 158, 11, 1));
    }
}

.radio > input:checked + label:hover > svg,
.radio > input:checked + label:hover ~ label > svg {
    fill: #e58e09;
}

.radio > label:hover > svg,
.radio > label:hover ~ label > svg {
    fill: #ff9e0b;
}

.radio input:checked ~ label svg {
    fill: #ffa723;
}


@keyframes text_713 {
    0% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }

    40% {
        letter-spacing: 2px;
        transform: translateX(26px);
    }

    80% {
        letter-spacing: 1px;
        transform: translateX(32px);
    }

    90% {
        letter-spacing: 2px;
        transform: translateX(0px);
    }

    100% {
        letter-spacing: 1px;
        transform: translateX(0px);
    }
}

@keyframes loading_713 {
    0% {
        width: 16px;
        transform: translateX(0px);
    }

    40% {
        width: 100%;
        transform: translateX(0px);
    }

    80% {
        width: 16px;
        transform: translateX(64px);
    }

    90% {
        width: 100%;
        transform: translateX(0px);
    }

    100% {
        width: 16px;
        transform: translateX(0px);
    }
}

@keyframes loading2_713 {
    0% {
        transform: translateX(0px);
        width: 16px;
    }

    40% {
        transform: translateX(0%);
        width: 80%;
    }

    80% {
        width: 100%;
        transform: translateX(0px);
    }

    90% {
        width: 80%;
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0px);
        width: 16px;
    }
}
